.body-hw1 {
    margin: 0;
    padding: 0;
}
.bg {
    position:absolute;
    width: 100%;
    height: 99.999vh;
    display: block;
    z-index:1;
    top: 0;
}
.bg-img {
    position:absolute;
    width: 100%;
    height: 99.999vh;
    display: block;
    z-index:1;
}
.bg-img-cover {
    position:absolute;
    width: 100%;
    height: 99.999vh;
    background-color:rgba(255, 255, 255,.3);
    z-index:2;
}
h1 {
    font-family: 'Noto Serif TC', serif;
    margin-top: 40px;
    z-index: 3;
    text-align: center;
    font-size: 48px;
    letter-spacing: 10px;
}
table {
    border: 2px solid #813772;
    width: 810px;
    margin: 0 auto;
    background-color: rgba(202, 235, 242, .7);
    z-index: 3;
}
td {
    text-align: left;
    width: 90px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid #813772;
    border-right: 1px solid #813772;
    font-size: 24px;
    padding: 10px 10px;
}
.hwTitle {
    text-align: center;
}
.hw1, .hw2 {
    display: flex;
    flex-direction: column;
}
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    list-style:none
}
li {
    margin: 0 auto;
    font-size: 30px;
    border: 2px solid #813772;
    padding: 10px;
    background-color: rgba(202, 235, 242, .7);
}
li:hover {
    background-color: rgb(202, 235, 242);
    color:#000;
}
li:hover a{
    background-color: rgb(202, 235, 242);
    color:#000;
}
a:link{
    text-decoration:none;
    color:#333;
    }
a:visited {
    color:#333;
    }
a:hover {
    color:#000;
    background-color: rgb(202, 235, 242);
    }